{{input id="organization-id" value=organizationIdInput required=true autofocus=true size=70 placeholder="Organization system id (s-012abc...)"}}
{{input id="api-token" value=apiTokenInput required=true size=70 placeholder="API token"}}
<button id="login" {{action "submitLogin"}}>Login</button>
