<div class="container">
  <div class="menu">
    {{#link-to 'authenticated.index' class='app-header'}}
      <h1 class="app-header">
        <em>Flowterie</em>
      </h1>
    {{/link-to}}
    {{outlet}}
  </div>
</div>
