<div>
  <h2>New Flow</h2>
  <div>
    Design a new Content Flow.
  </div>

  {{flow-template-form}}

  {{#flow-structure-entry
      format=(action 'basicList')
      as |tasks|}}
      <ul>
      {{#each tasks as |task|}}
          <li>{{task}}</li>
      {{/each}}
      </ul>
  {{/flow-structure-entry}}
</div>
