<div>
  <h2>New Flow</h2>
  <div>
    Design a new Content Flow.
  </div>

  <div id="flow-template">
    <label for="template_name">Name:</label>
    <input id="template_name" type="text"/>
  </div>
</div>
